<section>
    <!-- flex container -->
    <div class="movie-banner-background">
        <!-- flex-item1 -->
        <div class="movie-card">
            <!--flex sub-container-->

            <!-- sub item-1 -->
            <div class="movie-card-section">
                <img style="border-radius: 10px;" src="{{'data:image/jpeg;base64,'+ heroMovie.picByte}}" />    
                <div class="movie-trailer-play">
                    <i class="fas fa-play trailer-play-icon"><span>Trailers (7)</span></i>
                </div>
            </div>
            <!-- sub item-2 -->
            <div type="vertical" class="movie-release">
                <span class="movie-release-status">In cinema</span>
            </div>
        </div>

        <!-- flex-item2 -->
        <div class="movie-details">
            <h1 class="movie-details-heading"> {{heroMovie.movieName}}</h1>
            <div class="movie-details-section">
                <div class="movie-details-section-first">
                    <i class="fas fa-heart movie-details-heart"></i>
                    <span class="movie-detail-percentage">82%</span>
                    <span class="movie-detail-rating">24K Rating &nbsp;<i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <br>
            <div class="movie-detail-review-rating">
                <div class="movie-detail-review-rating-first">
                    <h5 class="movie-details-h5">Add your rating &amp; review</h5>
                    <h6 class="movie-details-h6">Your ratings matter</h6>
                </div>
                <button class="movie-detail-review-rating-button">Rate Now</button>
            </div>
            <div class="movie-detail-screen-category">
                <div class="movie-detail-screen-category-first">
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>2D ,</strong></a>
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>IMAX 2D,</strong></a>
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>4DX,</strong></a>
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>2D,</strong></a>
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>2D ,</strong></a>
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>IMAX 2D,</strong></a>
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>4DX,</strong></a>
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>2D,</strong></a>
                </div>
                <div class="movie-detail-screen-category-first">
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>English , </strong></a>
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>Hindi , </strong></a>
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>Kannada ,</strong></a>
                    <a href="" class="movie-detail-screen-category-first-anchor"><strong>Tamil ,</strong></a>
                </div>
                <div class="movie-detail-screen-category-second">
                    2h 43m<span class="movie-detail-dot">.</span>
                    <a href="" class="movie-detail-screen-category-second-anchor"><strong>Action,</strong></a>
                    <a href="" class="movie-detail-screen-category-second-anchor"><strong>Adventure,</strong></a>
                    <a href="" class="movie-detail-screen-category-second-anchor"><strong>Thriller,</strong></a>
                    <span class="movie-detail-dot">.</span>
                    <a href="" class="movie-detail-screen-category-second-anchor"><strong>UA</strong></a>
                    <span class="movie-detail-dot">.</span>
                    <a href="" class="movie-detail-screen-category-second-anchor"><strong>30 Sept,2021</strong></a>

                </div>
            </div>
           
            <div class="item-action">
                <a routerLink="/movieShow" class="btn btn-hover">
                    <i class="bx bxs-right-arrow"></i>
                    <span>Book now</span>
                </a>
            </div>
        </div>
    </div>

</section>



<!-- ============= about section=========     -->

<section>
    <div class="about">
        <span class="about-main">
            <div class="section-header">
                About The Movie
            </div>
            <div class="about-description">
                Bond has left active service. His peace is short-lived when his old friend Felix Leiter from the CIA
                turns up asking for help, leading Bond onto the trail of a mysterious villain armed with dangerous new
                technology. Will bond be able to find out what`s it all about? An action-packed thriller awaits you.
            </div>
        </span>
    </div>
</section>

<br>
<hr>
<br>

<section>
    <div class="offers">
        <div class="section-header">
           Applicable Offer
        </div>
        <div class="offer-first">

            <!-- Add Slider card for advertisement -->



        </div>
    </div>
</section>
<br>
<hr>
<br>

<!-- ===================  cast section =================================== -->
<section>
    <div class="cast">
        <div class="about-main">
            <div class="section-header">
               Cast
            </div>
        </div>
        <div class="cast-first">
            <a href="" class="cast-first-image">
                <div class="card border-0">
                    <img class="card-img-top" src="assets/moviesDetailsImg/daniel.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Daniel craig</h5>
                        <p class="card-text cast-desc">as james bond </p>
                    </div>
                </div>
            </a>
            <a href="" class="cast-first-image">
                <div class="card border-0">
                    <img class="card-img-top" src="assets/moviesDetailsImg/ana.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ana de Armas</h5>
                        <p class="card-text cast-desc">as Paloma</p>
                    </div>
                </div>
            </a>
            <a href="" class="cast-first-image">
                <div class="card border-0">
                    <img class="card-img-top" src="assets/moviesDetailsImg/lea.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lea Seydoux</h5>
                        <p class="card-text cast-desc">as Madeleine </p>
                    </div>
                </div>
            </a>
            <a href="" class="cast-first-image">
                <div class="card border-0">
                    <img class="card-img-top" src="assets/moviesDetailsImg/waltz.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Christoph Watz</h5>
                        <p class="card-text cast-desc">as Blofeld </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<br>
<hr>
<br>

<!-- ===================crew section ============== -->
<section>
    <div class="crew">
        <div class="about-main">
            <div class="section-header">
                Crew
            </div>
        </div>
        <div class="cast-first">
            <a href="" class="cast-first-image">
                <div class="card border-0">
                    <img class="card-img-top" src="assets/moviesDetailsImg/daniel.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Cary Fukunaga</h5>
                        <p class="card-text crew-desc">Director </p>
                    </div>
                </div>
            </a>
            <a href="" class="cast-first-image">
                <div class="card border-0">
                    <img class="card-img-top" src="assets/moviesDetailsImg/daniel.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Cary Fukunaga</h5>
                        <p class="card-text crew-desc">Director </p>
                    </div>
                </div>
            </a>

            <a href="" class="cast-first-image">
                <div class="card border-0">
                    <img class="card-img-top" src="assets/moviesDetailsImg/daniel.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Cary Fukunaga</h5>
                        <p class="card-text crew-desc">Director </p>
                    </div>
                </div>
            </a>
            <a href="" class="cast-first-image">
                <div class="card border-0">
                    <img class="card-img-top" src="assets/moviesDetailsImg/daniel.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Cary Fukunaga</h5>
                        <p class="card-text crew-desc">Director </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>