<section class="content" id ="#movies">
  <h1>Movies</h1>
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">CPU Traffic</span>
              <span class="info-box-number">
                10
                <small>%</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Likes</span>
              <span class="info-box-number">41,410</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Collection</span>
              <span class="info-box-number">760</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="nav-icon fas fa-film"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Movies </span>
              <span class="info-box-number">{{movies.length}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

     
      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
         
          <!-- TABLE:  movies -->
          <div class="card">
            <div class="card-header border-transparent">
              <h1 class="card-title">Movies</h1>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- {{movies|json}} -->
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                  <tr >
                    <th>SNo.</th>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Hours</th>
                    <th>Release date </th>
                    <th>Description</th>
                    
                  </tr>
                  </thead>
                  <tbody>
               
                  <tr *ngFor="let movie of movies let i = index">
                    <td><a >{{i+1}}</a></td>
                    <td>{{movie.movieName }}</td>
                    <td>{{movie.movieGenre }}</td>
                    <td>{{movie.movieHours}}</td>
                    <td>{{movie.releaseDate}}</td>
                    <td>{{movie.movieDescription}}</td>
                    
                                       
                  </tr>
                  
                  </tbody>
                </table>  
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <a href="javascript:void(0)" class="btn btn-sm btn-info float-left" 
             (click)="addMovie()"
              class="btn btn-success"
              value="update">Add New movie</a>

              <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right"  (click)="ViewAllMovieList()">View All movie</a>
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
          <!-- MAP & BOX PANE -->
                       
          <!-- /.card -->
          <div class="row">

            <div class="col-md-12">
              <!-- USERS LIST -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">movies</h3>

                  <div class="card-tools">
                    <span class="badge badge-danger">New Movies</span>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                 <!-- {{imageSource|json}} -->
                 <!-- {{images|json}} -->
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <ul class="clearfix" >
                   
                    <li>
                      <img [src]="imageSource" alt="Image Source" style="height: 350px; width: 250px;">
                      <!-- <img src="assets/img/user1-128x128.jpg" alt="User Image"> -->
                      <a class="users-list-name" href="#">{{photosValue.title|uppercase}}</a>
                      <span class="users-list-date">Today</span>
                    </li>
                   
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                  <a href="javascript:">View All movie</a>
                </div>
                <!-- /.card-footer -->
              </div>
              <!--/.card -->
            </div>
            <!-- /.col -->

           

           
          </div>
          <!-- /.row -->

         
        </div>
        <!-- /.col -->

       
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!--/. container-fluid -->
  </section>