    <!-- SPECIAL MOVIE SECTION -->
    <div class="section">
        <div class="hero-slide-item">
            <img src="{{'data:image/jpeg;base64,'+ heroMovie.picByte}}" />         
            <div class="overlay"></div>
            <div class="hero-slide-item-content">
                <div class="item-content-wraper">
                    <div class="item-content-title">
                        {{heroMovie.movieName}}
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>{{heroMovie.movieGenere}}</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>{{heroMovie.movieHours}}</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>16+</span>
                        </div>
                    </div>
                    <div class="item-content-description">
                        <span>{{heroMovie.movieDescription }}</span>
                    </div>
                    <div class="item-action">
                        <a  (click)=bookTicketSec(heroMovie.movieId) class="btn btn-hover">
                            <i class="bx bxs-right-arrow"></i>
                            <span>Book now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SPECIAL MOVIE SECTION -->