<div class="row" style="margin-left: 400px; margin-top: 100px;">
    <div class="col-md-6 ">
        <div class="card card-primary">
            <div class="card-header" >
                <h3 class="card-title">Login to FlixMania</h3>
            </div>
            <form role="form" #frm="ngForm" (ngSubmit)="doLogin()">
                <div class="card-body">
                    <div class="form-group">
                        <label for="email">User Name</label>
                        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="login.userName" #email="ngModel" placeholder="Enter email" required>
                        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">email id is required</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name = "password" id="password" [(ngModel)]="login.userPassword" #pwd="ngModel" placeholder="Password" required>
                        <div class="alert alert-danger" *ngIf="pwd.invalid && pwd.touched">password is required</div>
                    </div>

                    
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit"  class="btn btn-primary" value="Login" [disabled]="!frm.valid"  >Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>