<div class="container">
    <div class="col-md-6 mx-auto padding">
      <h2 class="text-center">Enter Screen Details </h2>
    <form #frm="ngForm" (ngSubmit)="createScreen()">
  
     
    
    <div>
      <input type="text" placeholder="Enter screen name" id="name" #screenname="ngModel" name="name" [(ngModel)]="newScreen.screenName"  class="form-control" required >
      <div class="alert alert-danger" *ngIf="screenname.invalid&&screenname.touched ">Screen name is required </div> 
    </div>
    <br>
    <div>      
      <input type="number" placeholder="Enter total number of row" id="screenRow" #screenrow="ngModel" name="screenRow" [(ngModel)]="newScreen.screenRows"   class="form-control" required>
      <div class="alert alert-danger" *ngIf="screenrow.invalid&&screenrow.touched ">Screen row  is required </div>   
    </div>
    <br>
    <br>
    <div>      
      <input type="number" placeholder="Enter total number of column" id="screenColumn" #screencolumn="ngModel" name="screenColumn" [(ngModel)]="newScreen.screenColumns"   class="form-control" required>
      <div class="alert alert-danger" *ngIf="screencolumn.invalid&&screencolumn.touched ">Screen column is required </div>   
    </div>
    <br>


      
    <div>
    <input type="submit" value="Add Screen" class="btn btn-danger" [disabled]="!frm.valid" >
  </div>
  </form>
     
  </div>
  
  </div>